<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <header>
            <nav>
                <a href="/funcionarios">Voltar</a>
            </nav>
        </header>
    
    <main>
            <h2>Editar Dados</h2>
            <form th:action="@{/adicionar}" th:object="${funcionario}" method="post">
                <label>Nome: </label>
                <input type="text" th:field="*{nome}"> <br> <br>
                
                <label>Cargo: </label>
                <input type="text" th:field="*{cargo}"> <br> <br>
                
                <label>Departamento: </label>
                <input type="text" th:field="*{departamento}"> <br> <br>
                
                <label>E-mail: </label>
                <input type="email" th:field="*{email}"> <br> <br>
                
                <label>Data de contratação: </label>
                <input type="date" th:field="*{data_contratacao}"> <br> <br>
                
                <button type="submit">Salvar</button>
            </form>
        </main>
    </body>
</html>
